body {
    width: 100%;
    height: 100%;

    margin: 0px;
    padding: 0px;
    font-family: "Verdana";
}

h1 {
    margin-top: 0px;
    font-size: 32pt;
    color: #333333;
}

.sudokuContainer {
  border: 2px solid;
  margin-left: 50px;
  border-spacing: 0px;
  padding: 0px;
}

.sudokuContainer tr{
  line-height: 0px;
}

.sudokuContainer td{
  padding: 0px;
}

.numberCell{
  width: 40px;
  height: 40px;
  text-align: center;
}

#canvasLineVertical {
  height:40px;
  width: 12px;
  padding: 0px;
}

#canvasLineHorizontal {
  height:12px;
  width:40px;
  padding: 0px;
}
